{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('donor_request_form') }}

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user-heart text-3xl"></span>
                Uspe코no ste se registrovali kao donator!
            </h2>

            <div>
                <div>Hvala ti 코to si postao deo Mre쬰 solidarnosti.</div>
                <div>Tvoja podr코ka zna캜i mnogo svim na코im nastavnicima. 游눛</div>
            </div>

            <div class="mt-4">
                <div class="font-bold">맚a dalje?</div>
                <div>Napravili smo ti instrukcije za uplatu koje mo쬰te da vidi코 na <a href="{{ path('donor_transaction_list') }}" class="link link-primary link-hover font-bold">ovoj</a> stranici. Tamo 캖e코 na캖i sve informacije kome i koliko treba da donira코.</div>

                <a href="{{ path('donor_transaction_list') }}" class="btn btn-primary mt-2">
                    <span class="ti ti-credit-card-pay text-xl"></span>
                    Instrukcije za uplatu
                </a>
            </div>
        </div>
    </div>
{% endblock %}
