{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <p>Hvala ti što si se prijavio/la kao donator!</p>
    <p>Budući da sada čitaš ovaj mejl, znači da si uspešno registrovan/a i da računamo na tebe kao deo naše solidarne mreže.</p>
    <p>Naš model funkcioniše <b>bez centralizovanog računa</b> – umesto toga, ti kao donator direktno pomažeš nastavnicima kojima je podrška potrebna. Zato nećeš dobiti jedan centralni račun za uplatu, već instrukcije za uplatu na račun jednog ili više nastavnika, koje ti algoritam dodeli prema iznosu koji si odabrao/la.</p>
{% endblock %}
